<!-- HIGH-LIGTHS -->
<div class="highlight-container">
    <section class="highlight">

        <div class="row">
    
            <div class="highlight__current active item-0" style="background-image: url(../../../assets/img/Skyrim.jpg);">
                <span class="highlight__current__category">
                    RPG
                </span>
                <div class="highlight__current__content">
                    <p>
                        Crie sua própria história e se torne uma lenda!
                    </p>
                </div>
            </div>
            <div class="highlight__current item-1" style="background-image: url(../../../assets/img/Sea.jpg);">
                <span class="highlight__current__category">
                    Aventura
                </span>
                <div class="highlight__current__content">
                    <p>
                        Explore em um mundo aberto tudo que um mundo pirata têm a oferecer! Dispute com outros jogadores, tenha sua própria tarefa em um navio!
                    </p>
                </div>
            </div>
            <div class="highlight__current item-2" style="background-image: url(../../../assets/img/it-takes-two.jpg);">
                <span class="highlight__current__category">
                    Aventura
                </span>
                <div class="highlight__current__content">
                    <p>
                        Se encante com um mundo aonde seu principal objetivo não é competitividade e sim fortalecer seus laços de amizade!
                    </p>
                </div>
            </div>
    
            <div class="highlight__list">
                <div class="highlight__list__single active" style="background-image: url(../../../assets/img/Skyrim.jpg);" data-index="item-0">
    
                </div>
                <div class="highlight__list__single" style="background-image: url(../../../assets/img/Sea.jpg);" data-index="item-1">
            
                </div>
                <div class="highlight__list__single" style="background-image: url(../../../assets/img/it-takes-two.jpg);" data-index="item-2">
            
                </div>
            </div>

        </div>
    </section>
</div>
