<header class="main-header" id="main-header">
    <nav class="main-nav" id="main-nav">
        <img src="../../../assets/img/logo.png" alt="brand">
        <ul class="main-ul" id="ul">
            <li class="nav-li">Home</li>
            <li class="nav-li">Sobre</li>
            <li class="nav-li">FAQ</li>
        </ul>
        <div class="rigth-align">
            <button class="lang">lang</button>
            <button class="login-button button">Entrar</button>
        </div>
    </nav>
</header> 