.main-header{
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;

    position: fixed;
    z-index: 50;
}
.main-nav{
    width: 100%;
    padding: 25px 100px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */

    transition: 0.3s ease;
}
img{
    width: 70px;
    cursor: auto;
}
.main-ul{
    display: flex;
    cursor: pointer;
    gap: 40px;
    margin-left: 30px;
    color: white;
}
.nav-li{
    list-style: none;
}
.rigth-align{
    display: flex;
    align-items: center;
    gap: 20px;
}
.login-button, .lang{
    cursor: pointer;
    background-color: #000;
    color: #fff;
    padding: 5px;
}
#lang{
    background-color: transparent;
    border: none;
    margin-top: 2px; /* hot-fix */
}
.bi-globe{
    font-size: 23px;
}
.bi-globe:hover{
    color: red;
}