@import "~bootstrap-icons/font/bootstrap-icons.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #101010;
}
li{
    font-family: 'League Spartan', sans-serif;
}
button{
    font-family: 'League Spartan', sans-serif;
}