.banner-img{
    background-attachment: fixed;
    background-size: cover;
}
  .banner {
    width: 100%;
    height: 620px;
    position: relative;
    display: flex;
    align-items: center;
  }
  .banner figure {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .banner::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(48, 48, 48, 0.6);
    position: absolute;
    left: 0;
    top: 0;
  }


.button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    
    
    position: absolute;
    top: 79vh;
    
    color: white;
    font-weight: 600;
    border: 2px solid white;
    background-color: transparent;
}
.button-area{
    width: 100%;
    display: flex;
    justify-content: center;

    position: absolute;
    top: -35px;
}
.bi-arrow-down-short{
    font-size: 25px;
}

















