.search-bar{
    background-color: #505050;
    height: 7vh;
    width: 100%;
    position: fixed;
    top: 9vh;
    
    z-index: 50;
}
.search-nav{
    width: 80%;
    margin: 12px auto;
}
.search-bar-div{
    display: flex;
    justify-content: space-between;
}
.search-bar-ul{
    display: flex;
    gap: 20px;
}


.search-bar-li{
    color: white;
    text-transform:  uppercase;
    font-size: 14px;
    font-family: 'oswald';
    letter-spacing: 2px;
}


/* search-area */
.search-box{
    display: flex;
}
.search-box input{
    border-radius: 10px;
    padding-left: 10px;
    border: none;
}
.search-box input:focus{
    outline: none;
    border: none;
}