.highlight-container {
    margin: 150px auto 0 auto;
    width: 80%;
}


.button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;


    position: absolute;
    top: 79vh;

    color: white;
    font-weight: 600;
}
.button-area{
    width: 100%;
    display: flex;
    justify-content: center;

    position: absolute;
    top: -35px;
}
.bi-arrow-down-short{
    font-size: 25px;
}



span.red{
    font-family: 'Oswald';
    color: red;
}
