.sobre_nos{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    background-color: #101010;
}

.text-box{
    display: flex;
    flex-direction: column;

    /* max-width: 50%; */
    height: 200px;
    
    margin: 0 auto;
    border: 1px solid white;
    padding: 20px 20px 20px 20px;
    transform: scale(1.2);
}

.sobre-titulo{
    color: white;
    font-size: 38px;
    margin-bottom: 20px;
    font-family: 'oswald';
    letter-spacing: 5px;
    margin-right: auto;
    margin-left: auto;
}
.sobre-p{
    color: white;
    max-width: 480px;
    text-align: center;
    margin: 0 auto;
    
}

.highlight-container {
    margin: 150px auto 0 auto;
    width: 80%;
}


.button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;


    position: absolute;
    top: 79vh;
    margin: 0 auto;

    color: white;
    font-weight: 600;
}
.red{
    font-family: 'Oswald';
    color: red;
}
