.area{
    width: 100%;
    overflow: hidden;
    background-color: #101010;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    margin-top: 100px;
}
.container1{
    transform: scale(0.5);
}


div.circle_externo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 5px #fff;
    margin: 200px auto 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
div.circle_interno{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* border: solid 3px #000; */
    background-color: #101010;

    z-index: 10;
}

/* #region car-1 */
.car1{ 
    position: absolute;
    margin-top: -100px;
    margin-left: -100px;

    background-color: #993399;
    width: 100px;
    height: 100px;

    z-index: 10;
    border-radius: 100% 0 0 0;
    transition: 0.2s ease;
}
.car2{ 
    position: absolute;
    margin-top: -100px;
    margin-left: 100px;
    transform: rotate(90deg);

    background-color: #993399;
    width: 100px;
    height: 100px;

    z-index: 10;
    border-radius: 100% 0 0 0;
    transition: 0.2s ease;

    opacity: 0;
}
.car3{ 
    position: absolute;
    margin-top: 100px;
    margin-left: -100px;
    transform: rotate(-90deg);

    background-color: #993399;
    width: 100px;
    height: 100px;

    z-index: 10;
    border-radius: 100% 0 0 0;
    transition: 0.2s ease;

    opacity: 0;
}
.car4{ 
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    transform: rotate(-180deg);

    background-color: #993399;
    width: 100px;
    height: 100px;

    z-index: 10;
    border-radius: 100% 0 0 0;
    transition: 0.2s ease;

    opacity: 0;
}
/* #endregion */


/* CARREGAMENTO CONTINUO */
.car-unico{

    width: 92px;
    height: 92px;
    border: 13px solid #fff;
    border-left-color: #993399;

    border-radius: 50%;

    animation-name: move;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
@keyframes move{
    to {transform:rotate(360deg)}
}

#dotted{
    animation-direction: normal;
    animation-duration: 2s;

    border: dotted 12px white;
    border-left-color: #993399;
    border-top-color: transparent;
}