<header class="main-header" id="search-header">
    <nav class="main-nav" id="search-nav">
        <div class="left-align" id="search_left_align">
            <input type="search" class="search-input" placeholder="pesquisar">
        </div>
        <div class="rigth-align" id="search_rigth_align">
            <ul>
                <li class="nav-li">Navegar</li>
                <li class="nav-li">Jogos</li>
                <li class="nav-li">Novidades</li>
            </ul>
        </div>
    </nav>
</header>