@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

$darkTheme: #303030;
$primaryColor: #ef4f51;
$secondaryColor: #050320;
$white: #f0f0f0; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    @media (max-width: 1200px) {
        padding: 0 15px;
    }
}

.row {
    display: flex;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

main {
    margin-top: 105px;
    background: $darkTheme;
}

.header {
    position: fixed;
    background: $darkTheme;
    padding: 15px 0;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 1px 1px 5px #343434;
    z-index: 10;
    .row {
        align-items: center;
        justify-content: space-between;
    }
    &Logo {
        a {
            display: block;
            img {
                width: 120px;
                @media (max-width: 728px) {
                    width: 80px;
                }
            }
        }
    }
    &Menu {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                text-align: center;
                a {
                    color: $white;
                    font-size: 18px;
                    line-height: 1.2em;
                    font-weight: 400;
                    &:hover {
                        color: $primaryColor;
                    }
                }
                + li {
                    margin-left: 25px;
                }
            }
        }
        @media (max-width: 728px) {
            display: none;
        }
        &.active {
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 150px;
            background: $primaryColor;
            border-radius: 30px;
            ul {
                align-items: initial;
                justify-content: initial;
                width: 60vw;
                padding: 30px 20px;
                flex-direction: column;
                li {
                    border-radius: 5px;
                    background: $darkTheme;
                    padding: 20px;
                    border: 1px solid $primaryColor;
                    + li {
                        margin-left: 0;
                    }
                    a {
                        &:hover {
                            filter: brightness(110%)
                        }
                    }
                }
            }
        }
    }
    .toggleMenu {
        display: none;
        width:30px;
        height: 1px;
        background: white;
        position: relative;
        &::after, &::before {
            content:'';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 8px;
            background: white;
        }
        &::before{
            bottom: 0;
            top: 8px;
        }
        @media (max-width: 728px) {
            display: block;
        }
    }
    &LoginBtn {
        background: $primaryColor;
        color: $white;
        width: 120px;
        border: 0;
        font-size: 18px;
        text-align: center;
        padding: 10px 15px;
        border-radius: 8px;
        border-bottom: 5px solid darken($primaryColor, 40);
        &:active {
            filter: brightness(120%);
        }
        @media (max-width: 728px) {
         order: -1;
         width: 80px;  
        }
    }
}

.banner {
    width: 100%;
    height: 520px;
    position: relative;
    display: flex;
    align-items: center;
    figure {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: {
            position: center center;
            size: cover;
            repeat: no-repeat;
        }
    }
    figcaption {
        position: relative;
        z-index: 1;
        h2 {
            font-size: 38px;
            color: $primaryColor;
            line-height: 1.2em;
            font-weight: 700;
            margin-bottom: 15px;
        }
        h4 {
            font-size: 18px;
            color: $white;
            line-height: 1.2em;
        }
        @media (max-width: 728px) {
           text-align: center;  
           }
    }
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        background: rgba($darkTheme, .6);
        position: absolute;
        left: 0;
        top: 0;
    }
    @media (max-width: 728px) {
        margin-top: -30px   
    }
}

.highlight {
    .row {
        @media (max-width: 728px) {
            flex-direction: column-reverse; 
           }
    }
    &__current {
        align-items: flex-end;
        position: relative;
        flex-basis: 70%;
        height: 480px;
        display: none;
        background: {
            repeat: no-repeat;
            position: center center;
            size: cover;
        }
        &__category {
            position: absolute;
            top: 15px;
            right: 15px;
            background: $primaryColor;
            color: $white;
            padding: 10px 15px;
            font-size: 14px;
            border-radius: 8px;
        }
        &__content {
            background: rgba($secondaryColor, 0.9);
            width: 100%;
            padding: 15px;
            h2 {
                font-size: 38px;
                color: $primaryColor;
                line-height: 1.2em;
                font-weight: 700;
                margin-bottom: 15px;
                @media (max-width: 728px) {
                    font-size: 24px;
                }
            }
            p {
                font-size: 18px;
                color: $white;
                line-height: 1.2em;
            }
            @media (max-width: 728px) {
                text-align: center;
            }
        }
        &.active {
            display: flex;
        }
        @media (max-width: 728px) {
            height: calc(65vh - 77px);
            flex-basis: initial;
        }
    }
    &__list {
        height: 480px;
        overflow: auto;
        flex-basis: 30%;
        &__single {
            padding: 15px 0;
            position: relative;
            background: {
                repeat: no-repeat;
                position: center center;
                size: cover;
            };
            width: 100%;
            height: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            h2 {
                color: $white;
                font-size: 32px;
                line-height: 1.2em;
                z-index: 1;
                position: relative;
                @media (max-width: 728px) {
                    font-size: 16px;
                    color: white;
                }
            }
            &::after {
                content: '';
                width: 100%;
                height: 100%;
                background: rgba($darkTheme, .2);
                position: absolute;
                left: 0;
                top: 0;
                transition: .5s;
            }
            &:hover,
            &.active {
                &::after {
                    background: rgba($primaryColor, .4);
                }
            }
            @media (max-width: 728px) {
                min-width: 300px;
                height: 100%;
            }
        }
        /* width */
        &::-webkit-scrollbar {
            width: 5px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: $darkTheme;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $primaryColor;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: darken($primaryColor, 30);
        }
        @media (max-width: 728px) {
            display: flex; 
            height: 35vh;
            flex-basis: inherit;
        }
    }
}

.filterItens {
    padding: 75px 0;
    .categoryRow {
        justify-content: flex-end;
        margin-bottom: 45px;
        @media (max-width: 728px) {
        justify-content: center;
        position: sticky;
        top: 100px;
        z-index: 2;
        }
    }
    .itensRow {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__categories {
        background: $primaryColor;
        color: $white;
        width: 150px;
        border: 0;
        font-size: 18px;
        text-align: left;
        padding: 5px 15px; 
        border-radius: 8px;
        border-bottom: 5px solid darken($primaryColor, 40);
        &:active {
            filter: brightness(120%);
        }
    }
    &__single {
        flex-basis: 32.333%;
        height: 250px;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        align-items: flex-end;
        display: none;
        background: {
            position: center center;
            size: cover;
            repeat: no-repeat;
        };
        .content {
            background: rgba($primaryColor, .6);
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 100%;
            transition: .5s;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h2 {
                color: $secondaryColor;
                font-size: 38px;
                line-height: 1.2em;
                margin-bottom: 15px;
            }
            p {
                color: $white;
                font-size: 18px;
                line-height: 1.2em;
                text-shadow: 1px 1px 5px #303030;
            }
        }
        &:hover {
            .content {
                top: 0;
            }
        }
        &.active {
            display: flex;
        }
        @media (max-width: 728px) {
         flex-basis: 100%;
         flex-grow: 1;       
        }
    }
}
.footer {
    background: $primaryColor;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    p {
        color: $white;
        font-size: 18px;
        @media (max-width: 728px) {
         text-align: center;       
        }
    }
}